.idea/*
node_modules
*-lock.json

# ignore input & output folder content except folder it self & example files
/input/*
!/input/
output/*
!/output/
!output/exampleApp.component.tsx
!input/exampleApp.component.tsx
